<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{ page.title }} - {{ site.title }}</title>

  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  <!-- import jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
  {{ content }}

  <div class="playertilesarea">

  </div>
  <script type="importmap">
    {
      "imports": {
        "jquery": "https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js",
        "makeElementsMoveable": "{{ '/assets/js/makeElementsMoveable.js' | relative_url }}",
        "other": "{{ '/assets/js/other.js' | relative_url }}"
      }
    }
  </script>
  <script type="module">

    import * as $ from "jquery";
    import { makeElementsMoveable } from "makeElementsMoveable";
    import { randomizeTiles } from "other";

    //get json data
    document.addEventListener("DOMContentLoaded", function () {
      fetch("{{ '/assets/json/tiles.json' | relative_url }}", { cache: 'no-store' })
        .then(response => response.text())
        .then(data => {
          const tilesObj = JSON.parse(data);
          const tilelength = Object.keys(tilesObj).length;
          const tiletexts = Object.values(tilesObj).map(obj => obj.text);
          const tilenums = Object.values(tilesObj).map(obj => obj.num);

          //create tiles
          for (var i = 0; i < tilelength; i++) {
            for (var j = 0; j < tilenums[i]; j++) {
              var tile = document.createElement("div");
              var tile_p = document.createElement("p");
              tile.className = "moveable tile";
              tile_p.innerHTML = tiletexts[i];
              tile.appendChild(tile_p);
              document.body.appendChild(tile);
            }
          }

          makeElementsMoveable();


          const tilesele = Array.from(document.querySelectorAll(".tile"));
          const tileselelength = tilesele.length;
          const tileselewidth = tilesele[0].offsetWidth;
          var player1tiles = [];
          var player2tiles = [];
          var player3tiles = [];
          var player4tiles = [];

          //randomize tiles to player
          let playertilesarea = document.querySelector(".playertilesarea");

          randomizeTiles(tilesele, player1tiles);
          randomizeTiles(tilesele, player2tiles);
          randomizeTiles(tilesele, player3tiles);
          randomizeTiles(tilesele, player4tiles);

          player1tiles.forEach(element => {
            element.style.left = playertilesarea.offsetLeft + 70 + (player1tiles.indexOf(element) * tileselewidth) + "px";
            element.style.top = "500px";
          });
          player2tiles.forEach(element => {
            element.style.left = playertilesarea.offsetLeft + 70 + (player2tiles.indexOf(element) * tileselewidth) + "px";
            element.style.top = "10px";
          });
          player3tiles.forEach(element => {
            element.style.left = playertilesarea.offsetLeft + 70 + (player3tiles.indexOf(element) * tileselewidth) + "px";
            element.style.top = "100px";
          });
          player4tiles.forEach(element => {
            element.style.left = playertilesarea.offsetLeft + 70 + (player4tiles.indexOf(element) * tileselewidth) + "px";
            element.style.top = "200px";
          });


        });
    });
  </script>
</body>

</html>